<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <h2 class="logo navbar-brand">Servidor Express - EJS</h2>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">HOME</a>
      <a class="nav-item nav-link active" href="/products">PRODUCTS</a>
      <a class="nav-item nav-link active" href="/cart/641464e5acf866b22f960684">CART</a>
      <a class="nav-item nav-link active" href="/chat">CHAT</a>
    </div>
  </div>
</nav>
