.register-form {
  min-width: 40%;
  margin: 60px auto;
  padding: 100px 60px;
  box-shadow: 6px 6px 15px darkgreen;
  border-radius: 8px;
  background-color: lightgreen;
}

.col h4 {
  color: red;
  padding: 20px 0px;
}
